<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>

// Globals for red green blue
// Global so that all functions have access to the 
// same color values. 
var r = 0;
var g = 0;
var b = 0;

// Set the color of the color box... based on what the sliders are set at. 
// Set the slider labels too
$( document ).ready(function() {
	r = $('#red').val();
	$('#r_label').text(r);
	g = $('#green').val();
	$('#g_label').text(g);
	b = $('#blue').val();
	$('#b_label').text(b);
	set_color_box(r,g,b);
});

// A function to set the color box color. 
function set_color_box(r,g,b){
	$('#color_box').css("background-color","rgb("+r+","+g+","+b+")");
}

/* Not implemented yet. 
  $(function() {
  $('#enable').bind('click', function() {
	  $.ajax({
	    url: '/enable_leds',
	    data: $('form').serialize(),
	    type: 'POST',
	    success: function(response) {
		$('#r_label').text($('#red').val());
		console.log(response);
	    },
	    error: function(error) {
		console.log(error);
	    }
	  });
      });
});*/

// Slider on click 
// change r value
// change slider label value. 
// set box color...
$(function() {
  $('#red').bind('click', function() {
	  r = $('#red').val();
	  $('#r_label').text(r);
	  set_color_box(r,g,b);
	$.ajax({
	    url: '/red',
	    data: $('form').serialize(),
	    type: 'POST',
	    success: function(response) {
		console.log(response);
	    },
	    error: function(error) {
		console.log(error);
	    }
	  });
      });
});

$(function() {
  $('#green').bind('click', function() {
	  g = $('#green').val();
	  $('#g_label').text(r);
	  set_color_box(r,g,b);
          $.ajax({
	    url: '/green',
	    data: $('form').serialize(),
	    type: 'POST',
	    success: function(response) {
		console.log(response);
	    },
	    error: function(error) {
		console.log(error);
	    }
	  });
      });
});

$(function() {
  $('#blue').bind('click', function() {
	g = $('#blue').val();
	$('#b_label').text(r);
	set_color_box(r,g,b);
	$.ajax({
	    url: '/blue',
	    data: $('form').serialize(),
	    type: 'POST',
	    success: function(response) {
		console.log(response);
	    },
	    error: function(error) {
		console.log(error);
	    }
	  });
      });
})
$(function() {
          $('a#Off').bind('click', function() {
            $.getJSON('/Off',
                function(data) {
              //do nothing
            });
            return false;
          });
        });


</script>


<div class='container' style="float:left">
    <h3>LED Controller<h3>
        <form method="POST" action="run">
<!--	    <p>Number of LEDs enabled</p>
<input type="range" min="0" max="240" value="50" class="slider" id="enable", name="enable">-->
	    <p>Red</p>
	    <input type="range" min="0" max="255" value="50" class="slider" id="red", name="red"/><label id="r_label"> </label>
	    <p>Green</p>
	    <input type="range" min="0" max="255" value="50" class="slider" id="green", name="green"/><label id="g_label"> </label>
	    <p>Blue</p>
	    <input type="range" min="0" max="255" value="50" class="slider" id="blue", name="blue"/> <label id="b_label"> </label>
	    <a href=# id=Off><button class='btn btn-default'>Turn everything Off</button></a>
	</form>

</div>
<div class='color_box' style="float:right">
	<p>Color: <br/> Note that the darker the color box the less light the LED should emit.</p>
	<div id="color_box" style="width:100px;height:100px;border:1px solid #000;"></div>
</div>

